@import './colors';

.footer{
  padding: 10px 0;
  background-color: $black;
  &__box{
      text-align: center;

      
      &-item{
          position: relative;
          color: $white;
          text-decoration: none;
          padding: 0 10px;
          
          &::before{
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              height: 60%;
              transform: translateY(-50%);
              width: 1px;
              background-color: $white;
          }

      }

      p{
          display: inline;

          &::before{
              display: none;
          }
      }    
  }
}