@import './colors';

.nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: transform .5s cubic-bezier(.65,.05,.36,1);
  background-image: $blue-gradient;
  z-index: 100;

  &--active{
      transform: translateX(0);
  }

  &__item{
      position: relative;
      display: block;
      color: $orange;
      margin: 0.5em 0;
      padding: 0.5em 2em;
      font-size: 2.8rem;
      text-decoration: none;
      text-align: center;
      
      &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 3px;
          height: 100%;
          transform: scaleY(0);
          transition: transform .3s;
          background-color: $orange;
        }
        
        &:hover::before{
          transform: scaleY(1);
        }
      }
    }
    
    .navactive{
      color: $gold;
      transform: scale(1.1);
    }
    
.nav-items-animation{
  animation: navItemsAnimation 1s both;
}

@keyframes navItemsAnimation{
  from{
      transform: translateX(200%);
  }
  
  to{
      transform: translateX(0);
  }
}