$white: #fff;
$black: #020202;
$dark-blue: #001D3D;
$blue: #003566;
$light-blue: #3676B3;
$orange: #FFC300;
$gold: #FFD60A;

$blue-gradient: linear-gradient(315deg, rgba(30, 30, 30, 1) 0%, rgba(0, 0, 0, 1) 100%);