@import "./styles/colors";

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    background-color: $black;
    color: #fff;
}

.wrapper{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.section__header{
    position: relative;
    text-align: center;
    font-size: 2.7rem;
    margin: 20px 0 30px;
    color: $gold;

    &::after{
        content: '';
        position: absolute;
        width: 40%;
        height: 2px;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $gold;
    }
}

@media only screen and (min-width: 1200px){
    .section__header{
        font-size: 3.1rem;
        margin: 20px 0 40px;
    }
}